anyio==3.6.2
cfgv==3.3.1
click==8.1.3
colorama==0.4.6
distlib==0.3.6
fastapi==0.95.1
filelock==3.9.0
h11==0.14.0
identify==2.5.17
idna==3.4
mouse==0.7.1
MouseInfo==0.1.3
nodeenv==1.7.0
packaging==23.1
Pillow==9.5.0
platformdirs==2.6.2
pre-commit==3.0.4
PyAutoGUI==0.9.53
pydantic==1.10.7
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytesseract==0.3.10
pytweening==1.0.4
PyYAML==6.0
sniffio==1.3.0
starlette==0.26.1
typing_extensions==4.5.0
uvicorn==0.22.0
virtualenv==20.18.0
uvloop
httptools
gunicorn==20.0.4
